<div class="header"> 
  <div class="container"> 
    <div class="row"> 
      <div class="menu col-xs-8"> 
        <ul> 
          <li><a href="/">Welcome</a></li> 
          <li><a href="portfolio">Portfolio</a></li> 
          <li><a href="https://medium.com/about-codecademy">Blog</a></li> 
          <li><a href="about">About</a></li> 
          <li><a href="contact">Contact</a></li> 
        </ul> 
      </div> 
      <div class="name col-xs-4"> 
        <h1>Gianluca</h1> 
      </div> 
    </div> 
  </div> 
</div>